numpy>=1.26
SimpleITK>=2.3
nibabel>=5.2
scipy>=1.11
scikit-image>=0.22
trimesh>=4.0
acvl_utils>=0.2
batchgenerators>=0.25
dynamic-network-architectures>=0.3.1
tqdm>=4.65
batchgenerators>=0.25.1
batchgeneratorsv2>=0.3.2
torch==2.12.0+cu126
acvl-utils>=0.2.6,<0.3  # 0.3 may bring breaking changes. Careful!
dynamic-network-architectures>=0.4.4,<0.5
batchgenerators>=0.25.1
scikit-learn
pandas
graphviz
tifffile
requests
matplotlib
seaborn
imagecodecs
yacs
einops
blosc2>=3.3.2
--extra-index-url https://download.pytorch.org/whl/cu126